*{
	box-sizing: border-box;;
}
body{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #4f4f4f;
	background-color: #999;
}
ul{
	list-style: none;
}
h2,p,ul{
	padding: 0;
	margin: 0;
}
.container{
	width: 620px;
	min-height: 490px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #fff;
}
.container header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #ff8663;
	padding: 15px;
	border-radius: 10px 10px 0 0;
}
header h2{
	color: #fff;
	font-size: 16px;
}
.close-btn{
		margin-left: auto;
		font-family: fontawesome;
		font-size: 20px;
		color: #fff;
		cursor: pointer;
}
/*-------*/
.input-filter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	background-color: #f0f0f0;
}
.input-filter input{
	width: 285px;
	height: 26px;
	padding: 8px 0;
	line-height: 26px;
	border-radius: 50px;
	border: none;
}
.left-search{
	position: relative;
}
.left-search:before{
	position: absolute;
	content: '\f002';
	left: 5px;
	top: 3px;
	font-family: fontawesome;
	font-size: 18px;
	color: #c4c4c4;
}
.input-filter input:last-child{
	padding-left: 25px;
}
.wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.all-friends,
.list-friends{
	width: 50%;
	padding: 14px 16px 0;
	min-height: 340px;
}
.all-friends{
	border-right: 1px solid #f0f0f0;
}
h2.friends{
	padding-bottom: 6px;
	color: #4f4f4f;
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid #f0f0f0;
}
.friend-list-all,
.friend-list-filtered{
	width: calc(263px + 16px);
	height: 340px;
	overflow-y: auto;
}
.friend-list-filtered .add{
		transform: rotate(45deg);
}
.friend-list__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 59px;
	padding: 4px 10px 5px;
		border-bottom: 1px solid #f0f0f0;
	cursor: move;
}
.friend-list__item > img{
	border-radius: 50%;
	margin-right: 10px;	
}
.add{
	margin-left: auto;
	width: 16px;
	height: 16px;
	cursor: pointer;
	font-family: fontawesome;
	font-size: 16px;
	color: #c4c4c4;
}
.rotate{
	transform: rotate(45deg);
}
.friend-list__item:hover{
	background-color: #f0f0f0;
}
.opacity{
	opacity: 0.5;
}
.dash{
	border: 2px dashed #000;
}
footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	min-height: 45px;
	padding-right: 5px;
	border-radius: 0 0 10px 10px;
	background-color: #f0f0f0;
}
button[type="submit"]{
	margin-left: auto;
	border: none;
	padding: 8px 15px;
	background-color: #ff8663;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-radius: 10px;
}
input::-webkit-input-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
input:-moz-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
input:-ms-input-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
